
.fab-button {
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  font-size: 1.50rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease;
  z-index: 100;
}

::ng-deep .upload-button .p-button {
  position: absolute;
  bottom: 5rem;
  right: 7rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
::ng-deep .upload-button .p-button .p-button-label {
  display: none; 
}

.fab-button:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.9);
  transform: scale(1.10);
}



::ng-deep .p-overlay-mask{
    position: fixed;
    height: 100%;
    width: 20%;
    left: 50%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 1101;
    flex-wrap: wrap;
    align-content: flex-start;
}
