.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #489abb;
  border-radius: 50%;
  animation: spin 0.3s linear infinite;
  z-index: 20000;
  position: absolute;
  top: 50%;
  left: 50%;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
