.table-container {
  width: 82vw;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1   );
  overflow-x: auto;
  box-sizing: border-box;
  background-color: white;
}

.table-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
  color: white;
  padding: 16px 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

p-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  font-size: 14px;
}
 
p-table th,
p-table td {
  padding: 12px;
  text-align: left;
}

p-table th {
  background: #2daa9e;
  color: white;
}

p-table tr:hover {
  background: #88868650;
}

.text-danger {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
}

p-tag {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
}

p-button:hover {
  background-color: #3bb2af;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .table-container {
    padding: 8px;
  }
  p-table th,
  p-table td {
    padding: 8px;
  }
}
