.project-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 30px;
  background-color: white !important;
}
app-header {
  height: 10vh;
}
.main-layout {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  height: 90vh;
}

app-side-bar-menu {
  height: 90vh;
  color: white;
}

app-task-detail{
  height: 50vh;
  width: 100%;
}

.sideBarNotCollapsed {
  width: 18vw;
}

.sideBarCollapsed {
  width: 5vw;
}

.dashboard{
  width:100%
}


.bottom-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}