.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #060b0ba5;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
.darkMode {
  display: flex;
  align-items: center;
  gap: 8px;
}

.darkMode p {
  margin: 0;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .header-container {
  background-color: #1e1e1e;
}

.dark-mode .dropdown-menu {
  background-color: #e6dede;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #6b21a8;
  color: white;
  position: sticky;
  z-index: 1000;
}

.logo img {
  height: 35px;
  border-radius: 0.8em;
  border: 1px solid;
}
.menu-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-inline-start: 20px;
  cursor: pointer;
}

.project-title {
  font-size: 24px;
}

.user-info {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-inline-end: 20px;
}

.pi-bars,
.pi-times {
  font-size: 26px;
}

.dropdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
